{# ---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 2
--- #}

<u>Selected recent projects:</u>


<br>
<br>
 

{% set maxPosts = collections.posts.length | min(3) %}
<u>Latest {% if maxPosts == 1 %}entry:{% else %}{{ maxPosts }} entries:{% endif %}</u>
<br>
<br>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in the <a href="{{ '/' | url }}">feed</a>.</p>
