---
layout: layouts/base_breadcrumb.njk
templateClass: tmpl-post
eleventyNavigation:
  key: Post
  parent: Feed
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> ~
{% for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>{% if not loop.last %},{% endif %}
{% endfor %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<br>
<hr>
<br>
<ul>
  {%- if nextPost %}<li class="post-nav-button">Next: <a class="nav-page-button" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li class="post-nav-button">Previous: <a class="nav-page-button" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
<br>
{%- endif %}
{%- endif %}
